* {
    padding: 0;
    margin: 0;
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height:10%;
    border-bottom: solid 2px black;
   
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 28px;
    margin-top: 7px;
    padding: 17px;
    

}

nav {
    width:100%;
    display:flex;
    justify-content: flex-end;
    position: sticky;
    top: 0px;
    z-index: 1;
    box-shadow: 5px 10px rgb(220, 215, 215);
   

}

a {
    text-decoration: none;
    color: black;  
}

.material-icons {
    margin-top:1%;
}


.hero {
    width:100%;
    opacity: 80%;
    
}


p {
    margin:2%;
    

}

h1 {
   
    font-family: "sofia", sans-serif;
    float:left;
    margin: 1%;
    color:black;
}

h2 { font-family: "sofia", sans-serif;
    margin: 5%;
}

h3 {
    font-family: "sofia", sans-serif;
    color:white;
    position:absolute;
    margin-top: 8%;
    border: dashed 3px white;
    opacity: 100%;


}

.memoji {
    height:150;
    background-color: white;
    border-radius: 100%;
    border-bottom: solid 2px black;
    box-shadow: 5px 5px 5px grey;
    
}

.flexbox-container {

height:100%;
display:flex;
flex-wrap: wrap;
justify-content: space-around;
flex-grow:1;
   
    

}

.box {

    flex-grow:1;
    width:45%;
    height:40%;
    border: dashed 3px white ;
    border-radius: 5%;  
    display: inline-block;
    margin: 3% 2% 1.5% 2%;
    box-shadow: 10px 10px 50px grey;
    
    
}

.boximage {
    width: 100%;
    height:100%;
    overflow: hidden;
    border-radius: 5%;

}

aside {
        
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-right: 20px;
    margin-top: 3%;
    padding: 20px;
    clear: both;
    float: right;
    width: 25%;
    height: 83%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: dashed 5px white;
    border-radius: 10px;
}

.contact-me {
    width: 90%;
    height:90%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-top:dashed 2px white;
    margin-top: 5%;
    
}

.contact-me p {
    display:flex;
    justify-content: center;
    right:50%;
    bottom:10%;
}

.message {
    height: 15vh;
    width:30vh;

}

button {
    background-color: white;
    color: black;
    border: dashed 2px white;
    
}

.mail-logo {
    position: relative;
    margin-top: 3.5%;
    left: -5%;
    width: 27%;
    height: 70%;
    

}

a:hover   {
    color:black;
    text-decoration: underline;
}


.box:hover, .text-input:hover, button {
    color: black;
    box-shadow: 0 5px 15px  rgba(58, 219, 240, 0.4);
    cursor: pointer;
  }


/*  @media screen and (max-width: 992px) {
    .flexbox-container {
        flex-wrap:nowrap;
        flex-direction: column;
        height:auto;
        width: auto;
        
    }

    .box {
        width:90%;
    }

    */



@media screen and (max-width: 768px) {
    body {
        display:flex;
        flex-direction: column;
        margin:0;

    }

    nav{
        flex-direction: column;
    }

    aside {
        width:90%;
        height:100%;
        margin: 0 auto;
        margin-top:3%;
        

    }

}


