* {
    padding: 0;
    margin: 0;
    background-color: gainsboro;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    height:10%;
    border-bottom: solid 2px black;
   
}

li {
    list-style: none;
    display: inline-block;
    margin-left: 28px;
    margin-top: 7px;
    padding: 17px;
    

}

nav {
    display:flex;
    justify-content: flex-end;
    

    
}

a {
    text-decoration: none;
    color: black;  
}

.material-icons {
    margin-top:1%;
}


.hero {
    width:100%;
    opacity: 80%;
    
}


p {
    margin:2%;
}

h1 {
   
    font-family: "sofia", sans-serif;
    float:left;
    margin: 1%;
    color:black;
}

h2 { font-family: "sofia", sans-serif;
    margin: 5%;
    float:left;
    margin-left: 90;
}

h3 {
    font-family: "sofia", sans-serif;
    position:absolute;
    height:10%;
    width:10%;
    margin-top: 8%;
    border: dashed 3px white;
    opacity: 100%;


}

.memoji {
    height:150;
    margin:1;
    margin-left:26%;
    background-color: white;
    border-radius: 100%;
    border-bottom: solid 2px black;
    box-shadow: 5px 5px 5px grey;
    
}

.flexbox-container {

height:100%;
display:flex;
flex-wrap: wrap;
justify-content: space-around;
flex-grow:1;
   
    

}

.box {

    flex-grow:1;
    width:45%;
    height:40%;
    border: dashed 3px white ;
    border-radius: 5%;  
    display: inline-block;
    margin: 3% 2% 1.5% 2%;
    box-shadow: 10px 10px 50px grey;
    
    
}

.boximage {
    width: 100%;
    height:100%;
    overflow: hidden;
    border-radius: 5%;

}

aside {
        
        margin-right: 20px;
        margin-top:3%;
        padding: 20px;
        clear: both;
        float: right;
        width: 25%;
        height: 83%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border: dashed 5px white;
        border-radius: 10px;

}

.contact-me {
    border:solid 5px black;
    height: 50vh;



}

a:hover  {
    color:black;
    text-decoration: underline;
}

li:hover {
    background-color: grey;
}

section:hover, h3 {
    color: black;
    box-shadow: 0 5px 15px  rgba(58, 219, 240, 0.4);
    cursor: pointer;
  }



  @media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
      background-color: aqua;
    }

}



